@model AgendaOnline.Models.Especialista

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Especialista</h1>

<h4><center>Especialista</center></h4>
<hr />

<form asp-action="Create">
  <div class="row">  
        
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="imput-container">


                <label asp-for="EspecialistaNome" class="w-40"></label>


                <input type="text" asp-for="EspecialistaNome" class="input" />

                <span asp-validation-for="EspecialistaNome" class="text-danger"></span>
           
            </div>
           
            
            </div>
        <div class="col-md-4">




            <div class="input-container">
                <label asp-for="CRM" class="w-40"></label>
                <input type="text" asp-for="CRM" class="input" />
                <span asp-validation-for="CRM" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-3">
            <div class="input-container">
                <label asp-for="EspecialidadeId" class="w-40"></label>
                <select asp-for="EspecialidadeId" asp-items="ViewBag.EspecialidadeId"></select>
            </div>
        </div>
        <div class="col-md-1">
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<br />

<div class="row">
    <div>
        <center>
            <p> <a asp-action="Index" class="btn btn-primary">Retorno à Lista</a> </p>
        </center>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
